@import "../../../../assets/styles/colors";

.product {
  display: inline-flex;
  min-width: 200px;
  justify-content: space-between;
  background-color: $clr-secondary;
  color: $clr-accent;
  padding: .5rem 1rem;
  margin: 1rem;
  box-shadow: 5px 5px 0 $clr-primary;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:hover &__name {
    color: $clr-primary;
  }

  &.active {
    background-size: 50px 50px;
    background-image: repeating-linear-gradient(
        45deg,
        transparentize($clr-primary, .5) 25%,
        transparentize($clr-primary, .5) 50%,
        transparent 50%,
        transparent 75%,
    );

    &:hover {
      transform: initial;
    }

    .product__name {
      background-color: $clr-primary;
      color: $clr-accent !important;
    }
  }

  &__name {
    transition: all .3s ease-in-out;
  }

  &__description {
    align-self: flex-end;
    position: relative;
    perspective: 1000px;
    color: $clr-primary;

    &:hover::before,
    &:hover::after {
      display: block;
      transform: translateX(-50%) rotateY(0deg);
      transition: all .8s ease-in-out;
    }

    &::before, &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotateY(-180deg);
      backface-visibility: hidden;
      transition: all .8s ease-in-out;
    }

    &::before {
      content: attr(data-description);
      bottom: calc(100% + 7px);
      @include highlight;
      border-radius: .25rem;
      padding: .5rem;
      white-space: nowrap;
    }

    &::after {
      content: '';
      bottom: 100%;
      border: 7px solid transparent;
      border-bottom-width: 0;
      border-top-color: $clr-accent;
    }
  }
}
