<div class="products" @skipInitAnim>
  <div class="products__header d-flex align-center justify-between">
    <h2 class="products__label">Products</h2>
    <fa-icon
      [ngClass]="{ closed: !isVisible }"
      (click)="onToggle()"
      class="products__toggle"
      [icon]="iconsService.getIcon('chevron')">
    </fa-icon>
  </div>
  <div
    @showHide
    *ngIf="isVisible"
    class="products__list d-flex justify-center"
    [ngClass]="{ disabled: disabled, empty: !products.length }">
    <ng-container *ngIf="products.length; else noProducts">
      <app-product-tile
        *ngFor="let product of products"
        [product]="product"
        (onSelect)="onSelectProduct(product)">
      </app-product-tile>
    </ng-container>
  </div>
</div>

<ng-template #noProducts>
  <h3>There are no products in the storage. Please add them.</h3>
  <fa-icon [icon]="iconsService.getIcon('addProduct')"></fa-icon>
</ng-template>

