@import "../../../../assets/styles/colors";

.products {
  overflow: hidden;

  &__header {
    @include highlight;
    padding-inline: 1rem;
    position:relative;
    z-index: 1;
  }

  &__toggle {
    cursor: pointer;
    transition: all .5s ease-in-out;

    &.closed {
      transform: rotate(-180deg);
    }
  }

  &__list {
    flex-wrap: wrap;
    padding: 1rem 3rem;
    border: 4px solid $clr-accent;
    background-color: #fff;

    &.empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      fa-icon {
        font-size: 2rem;
        color: $clr-accent;
      }
    }
  }
}
