@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "./assets/styles/disabled";
@import './assets/styles/flexbox';

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 0;
}
